<h1>Pages de test Ruby On Rails</h1>

gooooooooood bye

<%= link_to 'Encore une', :action => 'contact' -%>

<% 5.downto(-5) do |count| -%>
no
<%end%>
stop


<ul>
<% for files in @files %>
<li><%= files %></li>
<% end %>